.navbar-brand img {
  height: 50px;
}
.navbar {
  box-shadow: 5px 5px 4px whitesmoke;
}
.text {
  font-size: 18px;
  color: black !important;
  font-weight: 500;
}
.nav-item button {
  margin-top: -6px;
  border-radius: 20px;
}
.text:hover {
  color: red !important;
}
